---
pagination:
  data: temples
  size: 1
  alias: temple
permalink: "/temples/{{ temple.slug }}/"
layout: base.njk
title: "{{ temple.name }}"
---

<article class="temple-page">
  <div class="content">
    <div class="temple-image">
      <img src="{{ temple.coverImage | url }}" alt="{{ temple.name }}">
    </div>

    <header class="temple-header">
      <h1>{{ temple.name }}</h1>
      <p class="location">{{ temple.location }}</p>
    </header>

    <table class="temple-details">
      {% if temple.moolavar %}<tr><th>Moolavar</th><td>{{ temple.moolavar }}</td></tr>{% endif %}
      {% if temple.thirukkolam %}<tr><th>Thirukkolam</th><td>{{ temple.thirukkolam }}</td></tr>{% endif %}
      {% if temple.utsavar %}<tr><th>Utsavar</th><td>{{ temple.utsavar }}</td></tr>{% endif %}
      {% if temple.thayar %}<tr><th>Thayar</th><td>{{ temple.thayar }}</td></tr>{% endif %}
      {% if temple.vimanam %}<tr><th>Vimanam</th><td>{{ temple.vimanam }}</td></tr>{% endif %}
      {% if temple.theertham %}<tr><th>Theertham</th><td>{{ temple.theertham }}</td></tr>{% endif %}
      {% if temple.mangalasasanam %}<tr><th>Mangalasasanam</th><td>{{ temple.mangalasasanam }}</td></tr>{% endif %}
      {% if temple.witnesses %}<tr><th>Witnesses</th><td>{{ temple.witnesses }}</td></tr>{% endif %}
      {% if temple.festivals.length %}<tr><th>Festivals</th><td><ul>{% for f in temple.festivals %}<li>{{ f }}</li>{% endfor %}</ul></td></tr>{% endif %}
      {% if temple.devotees %}<tr><th>Devotees</th><td>{{ temple.devotees }}</td></tr>{% endif %}
      {% if temple.notes.length %}<tr><th>Notes</th><td><ul>{% for n in temple.notes %}<li>{{ n }}</li>{% endfor %}</ul></td></tr>{% endif %}
    </table>
  </div>
</article>

