---
pagination:
  data: temples
  size: 1
  alias: temple
permalink: "/temples/{{ temple.slug }}/"
layout: base.njk
title: "{{ temple.name }}"
---

<article class="temple-page">
  <div class="cover-image" style="background-image: url('{{ temple.coverImage }}');">
    <div class="cover-overlay"></div>
  </div>
  
  <div class="content">
    <header class="temple-header">
      <h1>{{ temple.name }}</h1>
      <p class="location">{{ temple.location }}</p>
    </header>

    <table class="temple-details">
      <tr><th>Moolavar</th><td>{{ temple.moolavar }}</td></tr>
      <tr><th>Thirukkolam</th><td>{{ temple.thirukkolam }}</td></tr>
      <tr><th>Utsavar</th><td>{{ temple.utsavar }}</td></tr>
      <tr><th>Thayar</th><td>{{ temple.thayar }}</td></tr>
      <tr><th>Vimanam</th><td>{{ temple.vimanam }}</td></tr>
      <tr><th>Theertham</th><td>{{ temple.theertham }}</td></tr>
      <tr><th>Mangalasasanam</th><td>{{ temple.mangalasasanam }}</td></tr>
      <tr><th>Witnesses</th><td>{{ temple.witnesses }}</td></tr>
      <tr><th>Festival</th><td>{{ temple.festival }}</td></tr>
      <tr><th>Devotees</th><td>{{ temple.devotees }}</td></tr>
      {% if temple.note %}
      <tr class="note-row"><th>Note</th><td>{{ temple.note }}</td></tr>
      {% endif %}
    </table>

    <nav class="back-nav">
      <a href="/">← Back to all temples</a>
    </nav>
  </div>
</article>

